**/outputs
**/output
**/inputs
**/input
target/
crates/downloaded_crates
profiling/*.*.*
.DS_Store
dhat.out.*
callgrind.out.*
tracing/traces
.devcontainer/notes.txt
tracing/tree-timing/tree_timing
!tracing/tree-size-dist/outputs